/*.col-image {
    position: relative;
    width: "800px"; 
    height: "737px"; 
}

.selfImage {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: "0px";
}

.col-image:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}

.col-name {
    position: absolute;
    display: inline-block;
    
}

.name {
    display: flex;
    text-align: right;
    float: left;
}*/


.name-container {
    container: center;
    margin-top: 396px;
    margin-left: 110px;
}

#name-container #name {
    text-align: center;

}

#name {
    font-family: "Playwrite CO", cursive;
    font-optical-sizing: auto;
    font-weight: 750px;
    font-style: normal;
    font-stretch: ultra-expanded;
}


