* {
    /*to select any and all types of elements in an HTML Page.*/
    padding: 0;
    /* background: linear-gradient(55deg, #b66cd1 0%, #f38282 51%, #edcece 85%); */
}


.body {
    margin: 0;
    width: 100%;
}

/* -------------------------------------home page---------------------------------------------- */

#home {
    /* background-color: linear-gradient(to right,(#b986cc,#f38282)); */
    background: linear-gradient(55deg, #b66cd1 0%, #f38282 51%, #edcece 85%); 
    height: 880px;
    
}
.row {
    margin: 0;
    justify-content: space-between;
    width: 101%;

}

.container-fluid {
    transition: 0.5s;
    padding: 0;
}

.col {
    margin: 0;
}

.head {
    
    margin-top: -2px;
}

#navbar-example2 {
    padding: 0;
}

.nav-item {
    width: 200px;
}

/*.navbar { /*navbar
    
}*/

.name-container {
    margin-top: 329px;
}

.name {
    margin-right: 200px;
    text-align: center;
    margin-top: 150px;
    margin-left: 100px;
    font-family: "Playwrite CO", cursive;
    font-optical-sizing: auto;
    font-weight: 600px;
    font-style: normal;
    font-stretch: ultra-expanded;
}

.interest {
    font-family: "Playwrite NL", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    margin-right: 197px;
    text-align: center;

}

/*.header-about {
    margin-top: 15px;
}*/

/* ---------------------------------------------------about-------------------------------------------------------------- */

#about {
    padding-top: 150px;
    padding-right: 30px;
    padding-left: 185px;
    width: 100%;
    background: linear-gradient(55deg, #b66cd1 0%, #f38282 51%, #edcece 85%); 
    
}

.about-col-1 {
    flex-basis: 60%;
}

.heading {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 850;
    font-style: italic;
    font-size: 35px;
}

.introduction {
    font-family: "Playwrite IS", cursive;
    font-optical-sizing: auto;
    font-weight: 599;
    font-style: normal;
    font-size: 18px;
}

.about-col-2 {
    margin: 20px;
    height: 688px;
    flex-basis: 35%;
}

.myphoto {
    width: 100%;
    border-radius: 7px;
}

/* ---------------------------------------------------------------skill----------------------------------------------------------- */
#skill {
    margin: 0px;
    padding: 50px 0; 
    display: flex;
    flex-direction: row;
    width: 100%;
    background: linear-gradient(55deg, #b66cd1 0%, #f38282 51%, #edcece 85%);
    height: 520px;
}

.col-2 {
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
}

.skill-list {
    font-family: "Playwrite NG Modern", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 15px;
}

.bg {
    color: #b66cd1;
    transition: 0.5s;
    animation-name:initial;
    cursor: pointer;
}


/* .col-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} */

/* .skill-col-1 {
    width: 530px;
    display: flex;
    flex-direction: row;
    padding-top: 45px;
} */

/* .skill-col-2 {
    display: flex;
    flex-direction: row;
} */


/* .skill-row-1 {
    flex-basis: 35%;
} */


/* .skill-row-2 {
    width: 50px;
    font-size: 15px;
    margin: 50px
} */


/* .skill-progressbar {
    padding-left: 600px;
    padding-top: 5px;
}  */

/* ----------------------------------Education------------------------------- */
#education {
    padding: 80px 0;
    background: linear-gradient(55deg, #b66cd1 0%, #f38282 51%, #edcece 85%);
    height: 430px;
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
}

.qualifications {
    display: flex;
    margin: 20px 0 40px;
    justify-content: space-between;
}

.qualification-links {
    margin-right: 50px;
    font-size: 18px;
    cursor: pointer;
}

.qualification-links::after {
    content: '';
    width: 0;
    height: 3px;
    background:  #6c1865;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.qualification-links.active-link::after {
    width: 70%;
}

.qualification-contents ul{
    padding-left: 0;
    margin-bottom: 0;
}

.qualification-contents ul li {
list-style: none;
margin: 10px 0;
font-size: 17px;
font-weight: 35px;
}

.qualification-contents ul li span {
    color: rgb(32, 2, 2);
    font-size: 16px;
}

.qualification-contents {
    display: none;
}

.qualification-contents.active-tab {
    display: block;
}